function Init_{{ name }}(CPU)
    self.entrypoint = {{ entrypoint | hex }}
    self.stack_pointer = {{ stack_pointer | hex }}
    self.heap_start = {{ heap_start | hex }}

    local mem_sections = {
    {% for address, value in memory_map.items() %}
        [{{ address | hex }}] = {{ value | hex }},{% endfor %}
    }
    self:SetMemory(CPU, mem_sections)
    CPU:StoreRegister("sp", {{ stack_pointer | hex }})
end

